<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Movies</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/my.css') }}"/>
</head>
<body>
<div>
    <div class="head">
        <form id="form" action="{{ url_for('video.my_movies') }}" method="get">
            {% for k, title in [('archived', '归档'), ('status','状态'), ('subtype', '类型')] %}
                <label> {{ title }}：
                    <select class="filter" name="{{ k }}">
                        <option value=""{% if params[k] is blank %} selected="selected"{% endif %}>所有</option>
                        {% for name, member in members[k].items() %}
                            <option value="{{ name }}"{% if params[k] == name %} selected="selected"{% endif %}>
                                {{ member.value.title }}
                            </option>
                        {% endfor %}
                    </select>
                </label>
            {% endfor %}
            <input type="hidden" id="order_by" name="order_by" value="{{ params['order_by'] }}"/>
            <input type="hidden" id="desc" name="desc" value="{{ params['desc'] }}"/>
        </form>
        <div>
            共<span id="totalCount">{{ subjects | length }}</span>条，已选择<span id="selectedCount">0</span>条：
            <input type="button" id="archiveBtn" value="批量归档" onclick="archiveAll()"/>
            <input type="button" id="updateBtn" value="更新我的" onclick="updateMyMovies()"/>
        </div>
    </div>
    <div class="content">
        {% if subjects | length == 0 %}
            <div>
                <span>Nothing</span>
            </div>
        {% else %}
            <table id="subjects">
                <thead>
                <tr>
                    <th>
                        <label>
                            <input type="checkbox" id="selectAll"/>
                        </label>
                    </th>
                    <th>序号</th>
                    {% for id, title in [('id', 'ID'), ('title', '名称'), ('year', '年份'), ('archived', '归档'),
                    ('status', '标记'), ('tag_date', '标记时间'), ('last_update', '更新时间'), ] %}
                        <th class="sortable" id="{{ id }}">{{ title }}<span class="arrow"></span></th>
                    {% endfor %}
                    <th>时长</th>
                    <th>搜索</th>
                </tr>
                </thead>
                <tbody>
                {% for subject in subjects %}
                    <tr id="{{ subject['id'] }}" class="{{ loop.cycle('odd', 'even') }}">
                        <td>
                            <label>
                                <input type="checkbox" class="batchSelect"/>
                            </label>
                        </td>
                        <td>{{ loop.index }}</td>
                        <td>
                            {{ subject['id'] }}
                        </td>
                        <td>
                            <a href="{{ subject['alt'] }}" title="{{ subject['original_title'] }}" target="_blank">
                                {{ subject['title'] }}
                            </a>
                        </td>
                        <td>{{ subject['year'] }}</td>
                        <td class="archived">
                            <span class="clickTip" hidden="hidden"></span>
                            <a class="playBtn" href="javascript:void(0)" data-archived="{{ subject['archived'].name }}"
                               data-id="{{ subject['id'] }}">
                            </a>
                        </td>
                        <td>{{ subject['status'].value.title }}</td>
                        <td>{{ subject['tag_date'] or '' }}</td>
                        <td>{{ subject['last_update'] }}</td>
                        <td>{{ subject['durations'] | join('/') }}</td>
                        <td>
                            <a href="{{ url_for('video.search') }}?id={{ subject['id'] }}" target="_blank">搜索</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/my.js') }}"></script>
</body>
</html>